@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Josefin+Slab:wght@400;700&display=swap');

/*
For headers:
font-family: 'Josefin Sans', sans-serif;

For paragraphs:
font-family: 'Josefin Slab', serif;

*/

h1 {
  font-family: 'Josefin Sans', sans-serif;
}

h2, h3, p, small, li, a {
  font-family: 'Josefin Slab', serif;
}

.background-image {
  margin-top: 70px;
  background-image: url('assets/bgHomepage.png');
  background-size: 100%;
  background-position: 0%, 90%;
  background-attachment: fixed;
  height: 500px;
  padding-bottom: 300px;
  position: relative;
  overflow: hidden;
  clip-path: ellipse(100% 50% at 50% 0%);
}

.logo-big {
  position: relative;
  top: -660px;
  right: -1000px;
  height: 250px;
  width: 250px;
  overflow: hidden;
}

.explain {
  position: relative;
  top: -400px;
  padding-left: 300px;
  padding-right: 300px;
  margin-top: 75px;
  overflow: hidden;
}

.explain p, .explain h3, .explain li {
  color:#153602;
}
.explain h3 {
  font-size: 40px;
  line-height: 0px;
}

.explain li {
  font-size: 20px;
  line-height: 40px;
}
.explain p {
  font-size: 20px;
}

.about-daddy {
  padding-bottom: 30px;
}

.ing {
  width: 500px;
  height: 30px;
  border-radius: 25px;
  border-color: transparent;
  outline: none;
  border-color: #A7C957;
}
.homepage {
  margin:0; 
  background-color: #e2e2e24f;
}
.title-content {
  margin-top: 85px;
  text-align: center;
}

.title-content h1, .title-content h2, .title-content p{
  color: #fafafa;
}

.title-content h2 {
  font-size: 30px;
  font-style: italic;
}
.title-content p {
  font-size: 20px;
}

.title {
    line-height: 100%;
    font-size: 60px;
}

.logo {
  width: 50px;
  height: 45px;
}
/* Style the header with a grey background and some padding */
.header {
  position: fixed;
  top: 0px;
  width: 100%;
    overflow: hidden;
    background-color: #f5f4ed;
    padding: 10px 10px;
    z-index: 10000;
    box-shadow: 0px 1px 25px rgb(65, 65, 65);
  }
  
  /* Style the header links */
  .header a {
	color: #494949 !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #ffffff;
	padding: 10px;
	border: 1px solid #494949 !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header .logo-title {
    margin: 0px;
    padding-top: 15px;
    padding-left: 25px;
    color: #153602 !important;
	  text-transform: uppercase;
	  text-decoration: none;
	  display: inline-block;
    font-size: 25px;
    font-weight: bold;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
	color: #ffffff !important;
	background: #A7C957;
	border-color: #A7C957 !important;
	transition: all 0.4s ease 0s;
  }
  
  /* Style the active/current link*/
  .header a.active {
    background-color: #A7C957;
    color: white;
  }
  
  /* Float the link section to the right */
  .header-right {
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 50px;
    float: right;
  }


/*******
Sign in and Sign up page styles
********/
/*main page info*/
.loginPage {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #f2e8cf;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
/*input box*/
.form input {
  font-family: 'Josefin Sans', sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
/*submit button*/
.form button {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #6a994e;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #f2e8cf;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #6a994e;
}
/*message w hyperlink*/
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #6a994e;
  text-decoration: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
/*bg and for old browsers*/
body {
  background: #6a994e;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
  .header-left {
      float: left;
  }
  
  .result-title {
    margin-top: 100px;
    text-align: center;
  }

  .ing2 {
    width: 500px;
    height: 30px;
    border-radius: 25px;
    border-color: transparent;
    outline: none;
    border-color: #A7C957;
    margin-top: -70px;
    display: inline-block;
    margin-left: 500px;
  }
  table, th, td {
    border: 1px solid black;
    height: min-content;
    border-collapse: collapse;
    width: 30%;
  }

  .result-table {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  tr:hover td{
    cursor:pointer;
    color: #119267;
  }

  #enter {
    color: #A7C957;
  }

#index-button {
  margin-top: 10px !important;
}
.enter-button {
  appearance: none;
  backface-visibility: hidden;
  background-color: #153602;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(1, 3, 2, 0.15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 10px 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.enter-button:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.enter-button:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.enter-button:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}


.enter {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

