@media print { body{-webkit-print-color-adjust:exact;} }
.details_menu {
	overflow: hidden;
	margin: 20px 0;
}

.details_menu>div {
	display: inline-block;
	float: right;
}

.introduce {
	width: 1000px;
}

.introduce h2 {
	/* color: #c0ae7d; */
	margin-bottom: 10px;
	font-size: 24px;
	font-weight: 700;
}

.introduce .ings {
	padding-bottom: 15px;
}

.introduce .ings table {
	width: 100%;
	margin: 5px 0;
	line-height: 20px;
	border-collapse: collapse;
	border-spacing: 0;
}

.introduce .ings .name {
	width: 280px;
	text-align: left;
	padding: 0 8px;
}

.introduce .ings .unit {
	padding-left: 20px;
}

.introduce .ings tr {
	width: 100%;
	height: 50px;
	line-height: 50px;
	/* border-top: 1px solid #f3f4f5; 
	border-bottom: 1px solid #f3f4f5; */
	border-top: 1px solid rgba(0,0,0,.2);
	border-bottom: 1px solid rgba(0,0,0,.2);
}
.introduce .ings tr:first-child{
	border-top:none;
}
.introduce .ings tr a {
    color: #222;
	text-decoration: none;
}
.introduce .ings tr a:hover {
    color: #dd3915;
}
.print_bottom_left .introduce {
	width: 100%;
}
.print_bottom_left .introduce .ings .name {
	width: 50%;
}

.steps{
	padding-top:30px;
	padding-bottom:30px;
}
.steps ol {
    counter-reset: li;
    padding-left: 20px;  /* */
}
.steps ol li {
    display: block;
    list-style: none;
    margin-bottom: 32px;
    position: relative;
	padding-left:5px; /* */
}
.steps ol li span {          
	display: table;
    position: absolute;
    top: 2px; 
    left: -10px;
    font-size: 20px;
    line-height: 1.3;
    font-weight: 700;
    color: #222;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
}

/**/
.steps .text {
    width:600px;
    margin: 0 0 0 10px; 
    font-size: 18px;
	float: left;
    word-wrap: break-word;
    word-break: break-all;
	text-align: justify;
}
.steps ol li:after {
	content: "";
	display: table;
	clear: both;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
}
/**/
.print_bottom_right{
	padding-left:0;
}
.print_bottom_right .introduce {
	width: 100%;
}
.print_bottom_right .steps .text {
	width: 100%;
	text-align: justify;

}
.print{
	height:auto;
}
.print_bottom{
	height:auto;
	min-height:420px;
}

/*Recipe image animation interaction */
.panel{
	cursor: pointer;
	position: relative;
	overflow: hidden;
	transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.panel::before{
    content: '';
    width: 0;
    height: 3px;
    background-color: #b76f40;
    position: absolute;
    bottom: 0;
    left: 50%;
    transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    opacity: 0;
}
.panel:hover{
	box-shadow:0px 0px 16px 0px rgb(0,0,0,.3);
}
.panel .panel_img{
	overflow: hidden;
}
.panel .panel_img img{
	transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.panel:hover .panel_img img{
	transform: scale(1.2, 1.2);
}
.panel:hover::before{
	width:100%;
	opacity: 1;
	left: 0;
}
/*Show ellipses beyond 3 lines*/
.panel_main_describe{
	height:auto;
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	line-clamp: 3;
	-webkit-box-orient: vertical;
	margin:15px 20px;
	text-align: justify;
}

.detail-name{
	font-size:20px;
	color:#333;
	font-weight:600;
}

.detail-text{
	margin-top:20px;
	font-size:16px;
	line-height: 28px;
	color:#333;
	text-align: justify;
}
.details_menu .menu_btn{
	width: 70px;
	height: 70px;
	border: 2px solid #409eff;
	margin-bottom:0;
	margin-right:8px;
}
.details_menu .menu_btn .icon i{
	font-size:18px;
	color:#409eff!important;
}
.details_menu .menu_btn:hover{
	background: #409eff;
}
.details_menu .menu_btn:hover .icon i{
	color:#fff!important;
}

