<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--<link rel="stylesheet" href="../../css/public.css">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>-->
    <script src="../../public/js/jquery-1.4.4.min.js"></script>
	<script src="../../public/js/jquery.jqprint-0.3.js"></script>
    <!-- import Elementui CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/radomA.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/new.css">
    <title>Document</title>
</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-success fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor"
                    class="bi bi-egg-fill" viewBox="0 0 16 16">
                    <path d="M14 10a6 6 0 0 1-12 0C2 5.686 5 0 8 0s6 5.686 6 10z" />
                </svg>
                Fridge Daddy
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-white" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-white" aria-current="page" href="./index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="../pages/Random.html">Browse</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white">My Cookbooks</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <button class="btn btn-outline-light" type="submit">Log In</button>
                </form>
            </div>
        </div>
    </nav>
    <div id="main">
        <!-- list -->
        <div v-for="item in list" v-if="showList">
            <div class="panel">
                <div class="panel_img">
                    <el-image class="img" :src="item.picture"></el-image>
                </div>
                <div class="panel_main">
                    <div class="panel_main_top">
                        <el-row>
                            <el-col :span="12">
                                <div class="panel_main_info">
                                    <div class="type">
                                        <el-tag type="warning" size="medium">{{item.type}}</el-tag>
                                    </div>
                                    <div class="name">{{item.name}}</div>

                                </div>
                            </el-col>
                            <el-col :span="12">
                                <div class="panel_main_price">
                                    <div class="grade">
                                        <el-rate v-model="item.grade" disabled show-score text-color="#ff9900"
                                            :score-template="item.grade+''"></el-rate>
                                    </div>
                                    <div class="btn_info">
                                        <el-button type="primary" size="mini" round @click="showInfoBtn(item)">View
                                            Details</el-button>
                                    </div>
                                </div>
                            </el-col>
                        </el-row>
                    </div>
                    <div class="panel_main_describe">{{item.describe}}</div>
                </div>
            </div>
        </div>


    <!-- details -->
    <el-button v-if="showInfo">
        <el-link type="primary" @click="rollBackBtn()">RollBACK</el-link>
    </el-button>
    <div class="details" v-if="showInfo">
        <el-row>
            <!-- <el-col :span="2">
        <div class="details_menu">
            <div class="menu_btn">
                <div class="icon">
                    <el-i class="el-icon-notebook-2" style="color: red;margin-top: 10px;"></el-i>
                </div>
                <div>Info</div>
            </div>
            <div class="menu_btn" @click="showSaveBtn()">
                <div class="icon">
                    <el-i class="el-icon-star-off" style="color: red;margin-top: 10px;"></el-i>
                </div>
                <div>Save</div>
            </div>
            <div class="menu_btn" @click="showPrintBtn()">
                <div class="icon">
                    <el-i class="el-icon-printer" style="color: red;margin-top: 10px;"></el-i>
                </div>
                <div>Print</div>
            </div>
        </div>
    </el-col> -->
       <el-col>
	       <div class="details_right">
							<el-row :gutter="20">
								<el-col :span="18">
									<div class="details_right_pic">
										<el-image class="img" :src="itemInfo.picture"></el-image>
									</div>
								</el-col>
								<el-col :span="6">
									<div class="detail-name">{{itemInfo.name}}</div>
									<p class="detail-text">{{itemInfo.describe}}</p>
								</el-col>
							</el-row>
						</div>
					</el-col>
				</el-row>
				<el-row>
					<el-col :span="18">
                        <div class="details_menu">
            <!-- <div class="menu_btn">
        <div class="icon">
            <el-i class="el-icon-notebook-2" style="color: red;margin-top: 10px;"></el-i>
        </div>
        <div>Info</div>
    </div>
    <div class="menu_btn" @click="showSaveBtn()">
        <div class="icon">
            <el-i class="el-icon-star-off" style="color: red;margin-top: 10px;"></el-i>
        </div>
        <div>Save</div>
    </div> -->
            <div class="menu_btn" @click="showPrintBtn()">
                <div class="icon">
                    <el-icon class="el-icon-thumb" style="color: #0f41e7;margin-top: 10px;"></el-icon>
                </div>
                <div>Click</div>
            </div>
        </div>
    </el-col>
</el-row>

        <div v-if="itemInfo.materials&&itemInfo.materials.length>0" class="introduce">
            <h2>Ingredients</h2>
            <div class="ings">
                <table>
                    <tr v-for="(item,index) in itemInfo.materials" :key="index">
                        <td class="name">
                            <a href="javascript:;">{{item.name}}</a>
                        </td>
                        <td class="unit" v-html="item.text">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <h2 v-if="itemInfo.steps&&itemInfo.steps.length>0" style="margin-top:30px;">Steps</h2>
        <div v-if="itemInfo.steps&&itemInfo.steps.length>0" class="steps">
            <ol>
                <li class="container" v-for="(item,index) in itemInfo.steps" :key="index">
                    <span>{{item.name}}</span>
                    <p class="text" v-html="item.text"></p>
                </li>
            </ol>
        </div>
    </div>

    <!-- print -->
    <div v-if="showPrint" style="padding-bottom:10px;">
        <el-button style="width:105px;">
            <el-link type="primary" @click="rollBackPrintBtn()">RollBACK</el-link>
        </el-button>
        <el-button style="width:105px;margin-left:20px;" @click="print">Download</el-button>
    </div>

    <!-- <button type="primary" v-print="printObj">download</button > -->
    <div class="print" v-if="showPrint" id="printContainer">
        <div class="print-inner">
            <div class="print_top">
                <div class="print_top_left">
                    <h2>{{itemInfo.name}}</h2>
                    <div class="print_top_left_rate">
                        <el-rate v-model="itemInfo.grade" disabled show-score text-color="#ff9900"
                            :score-template="itemInfo.grade+''"></el-rate>
                    </div>
                    <div class="print_top_left_describe">{{itemInfo.describe}}</div>
                </div>
                <div class="print_top_right">
                    <div style="height:178px;text-align: right;">
                        <el-image class="img" style="height:178px;" :src="itemInfo.picture"></el-image>
                    </div>
                </div>
            </div>
        <div class="print_bottom">

            <el-row>
                <el-col :span="10">

                    <div class="print_bottom_left">
                        <div v-if="itemInfo.materials&&itemInfo.materials.length>0" class="introduce">
                            <h2>Ingredients</h2>
                            <div class="ings">
                                <table>
                                    <tr v-for="(item,index) in itemInfo.materials" :key="index">
                                        <td class="name">
                                            <a href="javascript:;">{{item.name}}</a>
                                        </td>
                                        <td class="unit" v-html="item.text">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </el-col>
                <el-col :span="14">
                    <div class="print_bottom_right">
                        <div class="introduce">
                            <h2 v-if="itemInfo.steps&&itemInfo.steps.length>0" style="margin-top:30px;">Steps</h2>
                            <div v-if="itemInfo.steps&&itemInfo.steps.length>0" class="steps">
                                <ol>
                                    <li class="container" v-for="(item,index) in itemInfo.steps" :key="index">
                                        <span>{{item.name}}</span>
                                        <p class="text" v-html="item.text"></p>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </el-col>
            </el-row>

        </div>
    </div>
    

    <!-- 
    <el-dialog :visible.sync="showSave" width="15%">
        <div class="idalog_icon">
            <el-i class="el-icon-star-on" style="font-size: 60px;color: #F0E68C;margin-top: 10px;"></el-i>
        </div>
        <div class ="idalog_info" >Congrats! You saved Air Fryer Sweet and Spicy Roasted Carrots to your Favorites</div>
    </el-dialog>
    Save弹窗 -->

</div>

<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script type="text/javascript" src="../../public/js/randomA.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
     integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
</script>
<script defer type="text/javascript" src="../../public/js/index.js"></script>
  </body>
</html>